body {
  background-color: #fff4e3;
}

header {
  font-family: JetBrains Mono;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: auto;
  margin-left: 5px;
  color: #686332;
}

h1 {
  color: #686332;
}

hr {
  margin: 20px;
}
div {
  text-align: center;
}

#verde {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  color: #686332;
  border-color: #f5ad7b;
  border-width: 2px;
  height: 50px;
}

#titulo-categorias {
  margin-top: 20px;
  margin-bottom: 0px;
}

#categorias {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 50px;
}

#item-categorias {
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

#resultado-sorteio {
  margin-top: 5px;
  text-align: center;
  font-family: sans-serif;
  color: #686332;
}

#botao-sorteio {
  width: 100px;
  border-radius: 10px;
  background-color: #686332;
  color: #fff4e3;
  border-color: #f5ad7b;
  border-width: 2px;
}

#img-pequena {
  height: 80px;
  width: 150px;
}

footer {
  font-family: JetBrains Mono;
  font-size: x-small;
  margin-top: 200px;
  padding: auto;
  text-align: end;
}
